/* Main */

main {
    background-color: #191c24;
    border: 1px solid #21242d;
    border-radius: 12px;
    width: 100%;
}

.service {
    margin: 20px;
    padding: 5px;
    border-bottom: 1px solid #21242d;
}

.service-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.service-header p {
    color: #8a91a5;
    font-size: 13px;
}

.service-content {

}

.metrics {
    display: flex;
    flex-direction: row;
    gap: 1px;
    padding-bottom: 5px;
}

.metric {
    width: 10px;
    height: 32px;
    border-radius: 1px;
    transition: filter 0.2s ease;
}

.metric:hover {
    filter: brightness(0.8);
    cursor: pointer;
}

.first {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.last {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.green {
    background-color: #10b981;
}

.red {
    background-color: var(--error-color);
}

.grey {
    background-color: #15181c;
}

.tooltip {
    display: flex;
    flex-direction: column;

    position: fixed;
    background-color: #21242d;
    text-align: left;
    color: white;
    padding: 6px 10px;
    border: 1px solid #2d313c;
    border-radius: 12px;
    font-size: 12px;
    z-index: 1;
    pointer-events: none;
    white-space: nowrap;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    padding: 10px;
    width: 200px;
}

.tooltip-content {
    border-bottom: 1px solid #2d313c;
    padding-bottom: 5px;
    gap: 5px;
}

.tooltip-footer {
    text-align: center;
    padding-top: 5px;
}