/* Main */

main {
    background-color: #191c24;
    border: 1px solid #21242d;
    border-radius: 12px;
    width: 100%;
}

.service {
    margin: 20px;
    padding: 5px;
    border-bottom: 1px solid #21242d;
}

.service.last {
    border-bottom: none;
}

.service .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.service .header div { 
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.service .header div a {
    display: inline-block;
    background-color: #21242d; /* Colore di sfondo scuro */
    color: white; /* Testo bianco */
    font-weight: 600;
    font-size: 14px;
    padding: 6px 12px;
    border-radius: 10px; /* Angoli arrotondati */
    border: none;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
}

.service .header div a:hover {
    background-color: #2a2d38; /* Colore leggermente più chiaro al passaggio */
}

.service .header p {
    color: #8a91a5;
    font-size: 13px;
    font-weight: 500;
}

.metrics {
    display: flex;
    flex-direction: row;
    gap: 1px;
    padding-bottom: 5px;
}

.metric {
    width: 10px;
    height: 32px;
    border-radius: 1px;
    transition: filter 0.2s ease;
}

.metric:hover {
    filter: brightness(0.8);
    cursor: pointer;
}

.metric.first {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.metric.last {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.metric.green {
    background-color: #10b981;
}

.metric.red {
    background-color: var(--error-color);
}

.metric.grey {
    background-color: #15181c;
}

/* Tooltip */

.tooltip {
    display: flex;
    flex-direction: column;

    position: fixed;
    background-color: #21242d;
    text-align: left;
    color: white;
    padding: 6px 10px;
    border: 1px solid #2d313c;
    border-radius: 12px;
    font-size: 12px;
    z-index: 1;
    pointer-events: none;
    white-space: nowrap;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    padding: 10px;
    width: 200px;
}

.tooltip.hidden {
    display: none;
}

.tooltip .content {
    border-bottom: 1px solid #2d313c;
    padding-bottom: 5px;
    gap: 5px;
}

.tooltip .footer {
    text-align: center;
    padding-top: 5px;
}

@keyframes skeleton-blink {
    0% {
        background-color: rgba(255, 255, 255, 0.2);
    }
    50% {
        background-color: rgba(255, 255, 255, 0.5);
    }
    100% {
        background-color: rgba(255, 255, 255, 0.2);
    }
}

.tooltip span.skeleton {
    display: inline-block;
    width: 90px; /* Simula la dimensione del testo */
    height: 10px; /* Altezza fissa per uniformità */
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.2);
    animation: skeleton-blink 0.8s ease-in-out;
}