<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Status</title>

    <link rel="stylesheet" href="./src/site/public/static/css/index.css">

</head>
<body>
    <header>

    </header>
    <main>
        <h1>✅ All services are online</h1>
        <p>Last updated on Mar 10 at 09:35pm GMT</p>
        
        <div class="service">
            <p><strong>site.xyz</strong> - 100.000% uptime</p>
            <div class="status-bar">
                <div class="status-fill green" style="width: 100%;"></div>
            </div>
        </div>
        
        <div class="service">
            <p><strong>panel.site.xyz</strong> - 98.879% uptime</p>
            <div class="status-bar">
                <div class="status-fill green" style="width: 90%;"></div>
                <div class="status-fill red" style="width: 10%; right: 0;"></div>
            </div>
        </div>
        
        <div class="service">
            <p><strong>dash.site.xyz</strong> - 98.871% uptime</p>
            <div class="status-bar">
                <div class="status-fill green" style="width: 85%;"></div>
                <div class="status-fill red" style="width: 15%; right: 0;"></div>
            </div>
        </div>
        
        <div class="service">
            <p><strong>client.site.xyz</strong> - 98.906% uptime</p>
            <div class="status-bar">
                <div class="status-fill green" style="width: 90%;"></div>
                <div class="status-fill red" style="width: 10%; right: 0;"></div>
            </div>
        </div>
    </main>
    <footer>

    </footer>
</body>
</html>
