
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="./static/css/template.css">

    {% block script %}{% endblock script %}
    {% block style %}{% endblock style %}
</head>
<body>
    <nav>
        <h3>Status</h3>
        <div>
            <ul>
                <li><a href="/Status">Home</a></li>
                <li><a href="/Status/events">Events</a></li>
                <li><a href="/Status/reports">Reports</a></li>
            </ul>
        </div>
        <p></p>
    </nav>
    {% block content %}
    {% endblock content %}
    <footer>

    </footer>
</body>
</html>
