
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ relative_url('/static/images/logo.png') }}">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{{ relative_url('/static/css/template.css') }}">
    <script type="module" src="{{ relative_url('/static/js/template.js')}}"></script>

    {% block script %}{% endblock script %}
    {% block style %}{% endblock style %}
</head>
<body>
    <nav>
        <h3>Status</h3>
        <div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/events">Events</a></li>
                <li><a href="/reports">Reports</a></li>
            </ul>
        </div>
        <p></p>
    </nav>
    {% block content %}
    {% endblock content %}
    <footer>

    </footer>
</body>
</html>
